@import "../node_modules/bootstrap/less/theme.less";
@import "../node_modules/bootstrap/less/normalize.less";
@import "../node_modules/bootstrap/less/glyphicons.less";
@import "../node_modules/bootstrap/less/grid.less";
@import "../node_modules/bootstrap/less/tables.less";
@import "../node_modules/bootstrap/less/forms.less";
@import "../node_modules/bootstrap/less/buttons.less";
@import "../node_modules/bootstrap/less/component-animations.less";
@import "../node_modules/bootstrap/less/dropdowns.less";
@import "../node_modules/bootstrap/less/button-groups.less";
@import "../node_modules/bootstrap/less/navs.less";
@import "../node_modules/bootstrap/less/navbar.less";
@import "../node_modules/bootstrap/less/pagination.less";
@import "../node_modules/bootstrap/less/labels.less";
@import "../node_modules/bootstrap/less/badges.less";
@import "../node_modules/bootstrap/less/alerts.less";
@import "../node_modules/bootstrap/less/progress-bars.less";
@import "../node_modules/bootstrap/less/close.less";
@import "../node_modules/bootstrap/less/modals.less";
@import "../node_modules/bootstrap/less/tooltip.less";
@import "../node_modules/bootstrap/less/popovers.less";
@import "../node_modules/bootstrap/less/responsive-utilities.less";
@import "../node_modules/bootstrap/less/utilities.less";
@import "../js/gridster/src/jquery.gridster.css";
@import "../css/font-awesome.css";

@import "variables.less";

@import "notes.less";

html, body {
    height: 100% !important;
}
body {
    background: @purple;
}

h1, p {
    color: @dark;
}
h5 {
    margin: 0;
}

.navbar-right {
    margin-top: 17px;

    a {
        color: white;
    }
}

.navbar {
    height: 10px;
    border: none;
    border-radius: 0;
    /*background: rgb(144,0,34); */
    background: darken(@purple, 10%); 
    /*background: @orange;*/
    margin-bottom: 0;

    .navbar-brand {
        color: @light;
        text-decoration: none;
        font-family: 'PT Sans';
        font-size: 1.4em;
    }
}

.board {
    margin-top: 3.5em;
}

#board-0 {
    margin-left: -9%;
}
.note-content-input {
    position: absolute;
    right: 75px;
}
.add-wall-btn {
    position: fixed;
    right: 0;
    height: 200px;
    width: 130px;
    background: red;
    border: none;
}
.add-wall-btn:hover {
    background: blue;
}
.board-name {
    position: absolute;
    font-size: 1.3rem;
    color: white;
    left: 1em;
}
