.notes {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 5em;
    border-radius: 5px;
    @notesBackground: darken(@light, 10%); 
    background: @notesBackground;
    .wall-btn {
        color: #403b33;
        font-size: 1.2rem;
        padding: 0;
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: left;
        padding-left: 1em;
    }

    .wall-btn:hover {
        background: darken(@notesBackground, 10%);
    }


    .wall-btn:focus {
        outline: none;
    }

    .toggle-edit-btn {
        background: @blue;
        margin-top: 75px;
        right: -6px;
    }

    .new {
        background: lighten(@light, 4%);
        padding: 2px 5px;
        margin: 10px 10px 0 10px;
        /*border-top: 5px solid @lightblue;*/
        box-sizing: border-box;
        overflow: hidden;
        position: relative;

        :after {
            content:""; 
            background: @lightblue;
            position: absolute; 
            top: 0; 
            left: 5px; 
            width: 50%; 
            height: 5px;
        }

        button {
            border: none;
            background: lighten(red, 20%);
            position: absolute;
            top: 2px;
            right: 2px;
            padding: 1px 7px;
        }

        input {
            margin: 14px 0;
            border: none;
            outline: none;
        }
    }

    .new.ui-sortable-helper {
        transform: rotate(4deg);
        -webkit-box-shadow: 10px 11px 42px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 11px 42px -8px rgba(0,0,0,0.75);
        box-shadow: 10px 11px 42px -8px rgba(0,0,0,0.75);
        background: @light;
    }

    .ui-state-highlight {
        height: 3em;
        background: #afafaf;
        padding: 2px 5px;
        margin: 10px 10px 0 10px;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        min-height: 65px;
    }
    h2 {
        font-weight: 900;
        color: #444;
        text-transform: uppercase;
        font-size: 1rem;
        padding: 6px 0 0 10px;
        font-family: 'PT Sans';
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }


}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
