@light: rgb(242,242,242);
@neutral: rgb(229,221,203);
@blue: rgb(148,199,182);
@lightblue: rgb(167,197,189);
@dark: rgb(64,59,51);
@orange: rgb(235,123,89);
@green: rgb(168,212,111);
@purple: rgb(82,70,86);
@red: rgb(207,70,71);

